<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<button>
    <a href="../views/celebrities/celebrities.hbs">Celebrities</a>
</button>

<button>
    <a href="../views/movies/movies.hbs">Movies</a>
</button>

<button>
    <a href="../celebrities/create">New Celebrity</a>
</button>

